* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

pre {
  margin: 3rem 0;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
}

pre > code {
  font-size: 1rem;
  line-height: 1.5rem;
}
